@font-face {
  src: url('../fonts/TiemposTextTest-Regular.woff') format('woff');
  font-family: 'TiemposText';
}
@font-face {
  src: url('../fonts/TiemposHeadlineTest-Regular.woff') format('woff');
  font-family: 'TiemposHeadline';
}

h1, h2 {
  font-family: 'TiemposHeadline';
}
p {
  font-family: 'TiemposText';
}